<!DOCTYPE html>
<html lang="en" data-ng-app="website">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/assets.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body class="moto-background moto-website_live">

    <div class="page">

        <header id="section-header" class="header moto-section" data-widget="section" data-container="section">
            <div class="moto-widget moto-widget-block moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                data-widget="block" data-spacing="saaa" data-bg-position="left top">


                <div class="container-fluid">
                    <div class="row">
                        <div class="moto-cell col-sm-12" data-container="container">

                            <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                data-grid-type="sm" data-widget="row" data-spacing="aaaa" data-bg-position="left top">


                                <div class="container-fluid">
                                    <div class="row" data-container="container">


                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            data-widget="row.column" data-container="container" data-spacing="aaaa"
                                            data-bg-position="left top">


                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-widget="text" data-preset="default" data-spacing="sasa"
                                                data-animation="">
                                                <div class="moto-widget-text-content moto-widget-text-editable">
                                                    <p class="moto-text_system_1"><a target="_self" href="/"
                                                            data-action="page" data-id="1" class="moto-link"><span
                                                                class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero"
                                                                data-widget="motoimagewidget"><span
                                                                    class="moto-content-image-container"><img
                                                                        class="moto-content-image"
                                                                        data-path="2019/04/mt-1802-logo.png"
                                                                        data-id="358" alt="" width="52" height="56"
                                                                        src="/uploads/2019/04/mt-1802-logo.png"></span></span></a><a
                                                            data-action="page" data-id="1" class="moto-link"
                                                            href="/">Blood Center</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                            data-widget="row.column" data-container="container" data-spacing="aaaa"
                                            data-bg-position="left top">


                                            <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                data-grid-type="sm" data-widget="row" data-spacing="aasa"
                                                data-bg-position="left top">


                                                <div class="container-fluid">
                                                    <div class="row" data-container="container">


                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="2019/04/mt-1802-header-icon01.png"
                                                                                    data-id="376" alt="" width="33"
                                                                                    height="34"
                                                                                    src="/uploads/2019/04/mt-1802-header-icon01.png"></span></span><a
                                                                            data-action="call" class="moto-link"
                                                                            href="tel:1234567890">0761-2401680</a>
                                                                    </p>
                                                                    <p class="moto-text_system_13"><a data-action="mail"
                                                                            class="moto-link"
                                                                            href="mailto:Info@demolink.org">info@demolink.org</a>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-small moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="2019/04/mt-1802-header-icon02.png"
                                                                                    data-id="375" alt="" width="33"
                                                                                    height="33"
                                                                                    src="/uploads/2019/04/mt-1802-header-icon02.png"></span></span>57,
                                                                        Civic Centre, Opp Prabhu Vandana Talkies,
                                                                        Jabalpur
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                            data-widget="row.column" data-container="container"
                                                            data-spacing="aaaa" data-bg-position="left top">


                                                            <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                data-widget="text" data-preset="default"
                                                                data-spacing="saaa" data-animation="">
                                                                <div
                                                                    class="moto-widget-text-content moto-widget-text-editable">
                                                                    <p class="moto-text_system_12"><span
                                                                            class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-small moto-spacing-bottom-zero moto-spacing-left-zero moto-content-image_left-floated"><span
                                                                                class="moto-content-image-container"><img
                                                                                    class="moto-content-image"
                                                                                    data-path="2019/04/mt-1802-header-icon03.png"
                                                                                    data-id="377" alt="" width="33"
                                                                                    height="33"
                                                                                    src="/uploads/2019/04/mt-1802-header-icon03.png"></span></span>9:00
                                                                        a.m.
                                                                        - 6:00 p.m.</p>
                                                                    <p class="moto-text_system_13">Monday - Saturday</p>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="moto-widget moto-widget-container moto-container_header_5ab17a9c1"
                                data-widget="container" data-container="container"
                                data-css-name="moto-container_header_5ab17a9c1" data-bg-position="left top"
                                data-moto-sticky="{ }">



                                <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    data-grid-type="sm" data-widget="row" data-spacing="aaaa"
                                    data-bg-position="left top">


                                    <div class="container-fluid">
                                        <div class="row" data-container="container">


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                data-widget="row.column" data-container="container" data-spacing="aaaa"
                                                data-bg-position="left top">


                                                <div class="moto-widget moto-widget-container moto-container_header_5ab17aaf2"
                                                    data-widget="container" data-container="container"
                                                    data-css-name="moto-container_header_5ab17aaf2"
                                                    data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                        data-grid-type="sm" data-widget="row" data-spacing="aaaa"
                                                        style="background-image:url(/uploads/2018/05/mt-1802-line-menu.jpg);background-position:left top;background-repeat:repeat-x;background-size:auto;"
                                                        data-bg-position="left top"
                                                        data-bg-image="2018/05/mt-1802-line-menu.jpg">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                    data-widget="row.column" data-container="container"
                                                                    data-spacing="aaaa" data-bg-position="left top">


                                                                    <div data-widget-id="wid_1521580712_34yfou2bm"
                                                                        class="moto-widget moto-widget-menu moto-preset-default moto-align-center moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                        data-preset="default" data-widget="menu">
                                                                        <a href="#"
                                                                            class="moto-widget-menu-toggle-btn"><i
                                                                                class="moto-widget-menu-toggle-btn-icon fa fa-bars"></i></a>
                                                                        <ul
                                                                            class="moto-widget-menu-list moto-widget-menu-list_horizontal">

                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-active moto-link">HOME</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/donateBlood"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">DONATE
                                                                                    BLOOD</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/donorCenter"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">DONOR
                                                                                    CENTER LOCATIONS</a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/appointment"
                                                                                    data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">APPOINTMENT</a>
                                                                            </li>
                                                                            <li
                                                                                class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                                                <a href="/support" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">SUPPORT
                                                                                    US<span
                                                                                        class="fa moto-widget-menu-link-arrow"></span></a>
                                                                            </li>
                                                                            <li
                                                                                class="moto-widget-menu-item moto-widget-menu-item-has-submenu">
                                                                                <a href="/about" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-widget-menu-link-submenu moto-link">ABOUT
                                                                                    US<span
                                                                                        class="fa moto-widget-menu-link-arrow"></span></a>
                                                                            </li>
                                                                            <li class="moto-widget-menu-item">
                                                                                <a href="/contact" data-action="page"
                                                                                    class="moto-widget-menu-link moto-widget-menu-link-level-1 moto-link">CONTACTS</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                                    data-widget="row.column" data-container="container"
                                                                    data-spacing="aaaa" data-bg-position="left top">

                                                                    <div data-widget-id="wid_1555237980_e89ar4vjr"
                                                                        class="moto-widget moto-widget-button moto-preset-default moto-preset-provider-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  "
                                                                        data-widget="button">
                                                                        <a href="/login" data-action="page"
                                                                            class="moto-widget-button-link moto-size-small moto-link"><span
                                                                                class="fa moto-widget-theme-icon"></span>
                                                                            <span
                                                                                class="moto-widget-button-label">Login</span></a>
                                                                    </div>
                                                                </div>



                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>