
.charts {
  width: 800px;
  position: relative;
}

.mtd {
  display: inline-block;
  margin: 10px 20px;
}

#doughnut {
  width: 100%;
  height: 100%;
}

ul.doughnut-legend {
  margin-left: 0;
  height: 40px;
}

.chart-legend {
  margin-top: 40px;
}

.chart-legend li {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
}

.chart-legend li span {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 22px;
  top: 4px;
  margin-right: 8px;
}

#chartjs-tooltip {
  opacity: 1;
  position: absolute;
  background: none;
  color: #FFFFFF;
  font-size: 40px;
  padding: 3px;
}

#chartjs-tooltip.below {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#chartjs-tooltip.below:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(255, 255, 255, .8) transparent;
  border-width: 0 8px 8px 8px;
  bottom: 1em;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  z-index: 99;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

#chartjs-tooltip.above {
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

#chartjs-tooltip.above:before {
  border: solid;
  border-color: #111 transparent;
  border-color: rgba(255, 255, 255, .8) transparent;
  border-width: 8px 8px 0 8px;
  bottom: 1em;
  content: "";
  display: block;
  left: 50%;
  top: 100%;
  position: absolute;
  z-index: 99;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}