{{>hospitalNavbar}}

<!-- Begin Page Content -->
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="row ">
        <div class="col-md-12 col-sm-6 ">
            <div class="card border-bottom-primary card mb-4 border-left-primary text-center">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Blood Bank Details</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="Number" class="form-control" id="exampleFirstNumber"
                                            placeholder="Total Donor">
                                    </div>
                                    <div class="form-group">
                                        <input type="Number" class="form-control" id="exampleFirstNumber"
                                            placeholder="Total Receiver">
                                    </div>
                                    <div class="form-group">
                                        <input type="Number" class="form-control" id="exampleFirstNumber"
                                            placeholder="Total Blood">
                                    </div>
                                    <div class="form-group">
                                        <input type="Number" class="form-control" id="exampleFirstNumber"
                                            placeholder="Space">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
                                        <span class="text">submit</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{{>Footer}}