{{>adminNavbar}}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Donor Request Table</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Request Data</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Patient Name</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>phone</th>
                            <th>unit</th>
                            <th>Blood Group</th>
                            <th>Requirement type</th>
                            <th>City</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9876543219</td>
                            <td>Patient test</td>
                            <td>test</td>
                            <td>test1@gmail.com</td>
                            <td>2</td>
                            <td>O+</td>
                            <td>blood</td>
                            <td>jabalpur</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{{>Footer}}