{{>homeNavbar}}


<div class="container-fluid h-60  pl-0 pr-0 content  relative d-flex flex-row align-items-center">
    <div class="d-flex flex-column container h-60 justify-content-center z-5 px-0-sm">
        <h1 class="display-4 color-white  text-center px-2 mb-1 fw-4">Every Blood Donor Is A Lifesaver </h1>

    </div>
    <div class="main-slider h-60" id="homepageSlider" style="background-color: #980000;">

    </div>

</div>


<div class="container ">
    <div class="row accordion justify-content-end no-gutters" id="accordionExample">
        <div class="d-flex align-items-end flex-column  mr-0 pl-0 " id="about-nav">
            <ul class="about-list list-inline-sm pl-0">
                <li class=" f-18    bg-none hand" data-toggle="collapse" data-target="#collapseWhatWeDo"
                    aria-expanded="false" aria-controls="collapseWhatWeDo">Who we are</li>
            </ul>
        </div>

        <div class="col-lg-10 col-sm-12">


            <!-- What We Do -->
            <div id="collapseWhatWeDo" class="show " aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="container-fluid pb-5 mb-5">
                    <h3 class="f-30 text-center color-main-dark my-5 italics">"We Are India’s Largest Youth Run
                        Initiative
                        Working In The Field Of Blood Donation Trying To Make India Blood Sufficient."</h3>
                    <!-- Section1  -->
                    <div class=" m-0  px-2 pt-5 pb-5 h-100-min container-fluid ">
                        <div class="container">
                            <div class="row justify-content-between">

                                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                                    <div class="hide d-flex justify-content-center align-items-center"
                                        id="youtubeVideoDiv">
                                        <div class="iframeContainer d-flex flex-column">
                                            <button class="iframeClose" onclick="closeVideo()"><i
                                                    class="f-18 fa fa-times"></i></button>

                                            <iframe id="youtubeFrame" width="560" height="315" frameborder="0"
                                                allowfullscreen></iframe>
                                            </iframe>
                                        </div>
                                    </div>

                                    <img src="./img/about-us/VideoImage.png" id="video-img" class="wd-inherit"
                                        style="max-height: 500px;" alt="">
                                    <button class="play bg-none" id="play" onclick="playVideo()"><i
                                            class="color-white fa fa-play"></i></button>
                                </div>
                                <div class="col-lg-6">
                                    <h4 class="ft-24 color-dark   text-left ">Mission</h4>
                                    <p class="color-dark-light">To contribute towards the problem of shortage of blood
                                        in India by
                                        raising awareness and improving donor experience and thereby, become a
                                        360-degree solution
                                        provider.</p>

                                    <h4 class="ft-24 color-dark   text-left pt-0">Vision</h4>
                                    <p class="color-dark-light">Reach Blood Sufficient India through Voluntary Blood
                                        Donations.</p>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="container-fluid py-5">
                        <h4 class="f-30 text-center color-dark">History</h4>
                        <p class="color-dark-light text-left">
                            We at BloodConnect live by the motto of saving lives by ensuring every drop of blood
                            contributes towards
                            the right cause of saving lives. A mission started by young IITians (Delhi), BloodConnect
                            commenced
                            operations on 1st April 2010 as a project under National Service Scheme (NSS) chapter. Soon,
                            the young
                            team lived by the fact that blood cant be manufactured in factories and committed themselves
                            towards
                            connecting generous donors to the donees.
                        </p>
                        <p class="color-dark-light text-left">
                            They worked around-the-clock towards this cause, and in no time, BloodConnect became a full-
                            scale NGO
                            with a mission of solving the problem of blood shortage in India. The organization now
                            caters to any
                            requirement pertaining to blood and by uniting people in need of blood to voluntary blood
                            donors. </p>
                    </div>

                    <div class="container-fluid pt-5">
                        <h4 class="text-center color-dark f-30">Our Activities</h4>
                        <p class="color-dark-light">Since its inception, BloodConnect has developed a 360-degree
                            solution to cater
                            to the problem of blood shortage in the country. The model revolves around four focal
                            points:</p>
                        <div class="row ">
                            <div class="col-lg-6 col-12 d-flex flex-row">
                                <div class="mr-2">
                                    <img width="20px" src="./svg/tick.svg" alt="">
                                </div>
                                <p class="color-dark-light">
                                    Ensuring continuous, sufficient blood supply to blood banks through blood donation
                                    camps and weekly
                                    donations </p>
                            </div>

                            <div class="col-lg-6 col-12 d-flex flex-row">
                                <div class="mr-2">
                                    <img width="20px" src="./svg/tick.svg" alt="">
                                </div>
                                <p class="color-dark-light">
                                    Helping those in dire need by operating an emergency 24x7 helpline </p>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-row">
                                <div class="mr-2">
                                    <img width="20px" src="./svg/tick.svg" alt="">
                                </div>
                                <p class="color-dark-light">
                                    Increasing awareness by organizing Street Plays, Info-Talks, Competitions </p>
                            </div>
                            <div class="col-lg-6 col-12 d-flex flex-row">
                                <div class="mr-2">
                                    <img width="20px" src="./svg/tick.svg" alt="">
                                </div>
                                <p class="color-dark-light">
                                    Establishing a network of youth across the country to lead the movement </p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Our Timeline -->
            {{!-- <div id="collapseThree" class="collapse " aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <img src="/img/timeline.jpg" alt="BloodConnect Timeline" srcset="">
            </div> --}}


        </div>
    </div>
</div>


{{>homeFooter}}