{{>homeNavbar}}

<section id="section-content" class="content page-12 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-bg-color_custom4 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
        data-widget="block" data-spacing="lala"
        style="background-image:url(uploads/2019/04/mt-1802-content-bg05.jpg);background-position:top;background-repeat:no-repeat;background-size:cover;"
        data-bg-image="2019/04/mt-1802-content-bg05.jpg" data-bg-position="top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-justify-content_center moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                        data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                                    data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <h1 class="moto-text_system_5">Book an Appointment</h1>
                                        </div>
                                    </div>


                                </div>



                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
        data-widget="block" data-spacing="lama" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                        data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    style="" data-widget="row.column" data-container="container" data-spacing="aaaa"
                                    data-bg-position="left top">


                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <h2 class="moto-text_system_7">Booking Calendar</h2>
                                        </div>
                                    </div>
                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                                        data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_206">Use the simple appointment scheduling
                                                system below</p>
                                        </div>
                                    </div>
                                    <div data-widget-id="wid_1555312680_wy1wrkcn9"
                                        class="moto-widget moto-widget-integrations-acuity-scheduling moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                        data-widget="integrations.acuity_scheduling">

                                        <div class="container-fluid">
                                            <div class="row" data-container="container">
                                                <div
                                                    class="moto-widget moto-widget-row__column moto-cell col-md-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto">

                                                </div>
                                                <div class="moto-widget moto-widget-row__column moto-cell col-md-9 col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                    data-widget="row.column" data-container="container"
                                                    data-spacing="aaaa" data-bg-position="left top">


                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                                        data-widget="text" data-preset="default" data-spacing="masa"
                                                        data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                            <h3 class="moto-text_system_8" style="text-align: center;">
                                                                <span class="moto-color_custom1">Book Now</span>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div id="wid_1555315545_dleafnhr5"
                                                        class="moto-widget moto-widget-contact_form moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-medium moto-spacing-left-medium  "
                                                        data-preset="default" data-widget="contact_form"
                                                        data-spacing="ammm">
                                                        <div ng-controller="widget.ContactForm.Controller"
                                                            ng-init="hash = '2@eyJoIjoiK091XC9HZU9NR0NSb2VjUFF0OVwvMmdLVGw2ZEtaUUVVVWNMc2ZhQU0yT2lNPSIsImkiOiI0UmtGakw2MmtycWpwM0JNSXloeFZnPT0iLCJ2IjoibGZOdnpUQzNPV0s4d0llQitITnMwd1dyeDlURjRXYzU4a29wbDl4T0VaK0dSRkxhYXVwRUxqOENROWtnMlwvNlJcLzErZzVnREw5Mmo3TDV6YTFSSlV2bDc0K29rdlEwcW16NW9zVVwvZzZ5bGc9In0=';actionAfterSubmission={&quot;action&quot;:&quot;none&quot;,&quot;url&quot;:&quot;&quot;,&quot;target&quot;:&quot;_self&quot;,&quot;id&quot;:&quot;&quot;};resetAfterSubmission=false">
                                                            <form id="wid_1555315545_dleafnhr5__form"
                                                                class="moto-widget-contact_form-form" role="form"
                                                                name="contactForm" ng-submit="submit()" novalidate>
                                                                <div ng-show="sending" class="contact-form-loading">
                                                                </div>

                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_name_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Your
                                                                        name</label>
                                                                    <input type="text"
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-input"
                                                                        placeholder="Your name *"
                                                                        ng-blur="validate('name')" required
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="name"
                                                                        id="field_name_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.name" />
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.name.$invalid && !contactForm.name.$pristine && !contactForm.name.emailInvalid">Field
                                                                        is required</span>
                                                                </div>

                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_email_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Email</label>
                                                                    <input type="text"
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-input"
                                                                        placeholder="Email *"
                                                                        ng-blur="validate('email')" required
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="email"
                                                                        id="field_email_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.email" />
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.email.$invalid && !contactForm.email.$pristine && !contactForm.email.emailInvalid">Field
                                                                        is required</span>
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.email.emailInvalid && !contactForm.email.$pristine">Incorrect
                                                                        email</span>
                                                                </div>

                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_phone_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Phone</label>
                                                                    <input type="text"
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-input"
                                                                        placeholder="Phone *"
                                                                        ng-blur="validate('phone')" required
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="phone"
                                                                        id="field_phone_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.phone" />
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.phone.$invalid && !contactForm.phone.$pristine && !contactForm.phone.emailInvalid">Field
                                                                        is required</span>
                                                                </div>

                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_address_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Location</label>
                                                                    <input type="text"
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-input"
                                                                        placeholder="Location *"
                                                                        ng-blur="validate('address')" required
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="address"
                                                                        id="field_address_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.address" />
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.address.$invalid && !contactForm.address.$pristine && !contactForm.address.emailInvalid">Field
                                                                        is required</span>
                                                                </div>

                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_subject_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Drive
                                                                        Date</label>
                                                                    <input type="text"
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-input"
                                                                        placeholder="Drive Date *"
                                                                        ng-blur="validate('subject')" required
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="subject"
                                                                        id="field_subject_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.subject" />
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine && !contactForm.subject.emailInvalid">Field
                                                                        is required</span>
                                                                </div>

                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_subject_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Please
                                                                        select</label>
                                                                    <select
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-input"
                                                                        placeholder="Please select *"
                                                                        ng-blur="validate('subject')" required
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="select"
                                                                        id="field_subject_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.subject">
                                                                        <option selected>- Please select - </option>
                                                                        <option>Donate</option>
                                                                        <option>need blood</option>

                                                                    </select>

                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine && !contactForm.subject.emailInvalid">Field
                                                                        is required</span>
                                                                </div>


                                                                <div class="moto-widget-contact_form-group">
                                                                    <label for="field_message_wid_1555315545_dleafnhr5"
                                                                        class="moto-widget-contact_form-label">Message</label>
                                                                    <textarea
                                                                        class="moto-widget-contact_form-field moto-widget-contact_form-textarea"
                                                                        rows="3" placeholder="Message "
                                                                        ng-model-options="{ updateOn: 'blur' }"
                                                                        name="message"
                                                                        id="field_message_wid_1555315545_dleafnhr5"
                                                                        ng-model="message.message"></textarea>
                                                                    <span
                                                                        class="moto-widget-contact_form-field-error ng-cloak"
                                                                        ng-cloak
                                                                        ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">Field
                                                                        is required</span>
                                                                </div>



                                                                <div class="moto-widget-contact_form-success ng-cloak"
                                                                    ng-cloak ng-show="showSuccessMessage">
                                                                    Your message was sent successfully
                                                                </div>
                                                                <div class="moto-widget-contact_form-danger ng-cloak"
                                                                    ng-cloak ng-show="emailError">
                                                                    Sorry, your message was not sent
                                                                </div>
                                                                <div class="moto-widget-contact_form-buttons">

                                                                    <div class="moto-widget moto-widget-button moto-preset-default moto-preset-provider-default moto-align-center"
                                                                        data-preset="default" data-align="center">
                                                                        <button type="submit"
                                                                            class="moto-widget-button-link moto-size-large"
                                                                            data-size="large"><span
                                                                                class="fa moto-widget-theme-icon"></span><span
                                                                                class="moto-widget-button-label">Send</span></button>
                                                                    </div>

                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>

                                </div>



                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-block moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
        data-widget="block" data-spacing="mala" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">

                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto row-fixed"
                        data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                    style="" data-widget="row.column" data-container="container" data-spacing="sasa"
                                    data-bg-position="left top">


                                    <div class="moto-widget moto-widget-row moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-grid-type="sm" data-widget="row" data-spacing="laaa"
                                        style="background-image:url(/uploads/2019/04/mt-1802-home-img04.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;"
                                        data-bg-image="2019/04/mt-1802-home-img04.jpg" data-bg-position="center">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                    style="" data-widget="row.column" data-container="container"
                                                    data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-medium"
                                                        data-widget="text" data-preset="default" data-spacing="sasm"
                                                        data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                            <h3 class="moto-text_system_8">Donor Center
                                                                Locations</h3>
                                                            <p class="moto-text_normal"><span class="moto-color5_5">Find
                                                                    a blood donor
                                                                    center near you </span></p>
                                                            <p class="moto-text_normal">&nbsp;</p>
                                                        </div>
                                                    </div>



                                                    <div data-widget-id="wid_1555312764_q53o5vinl"
                                                        class="moto-widget moto-widget-button moto-preset-2 moto-preset-provider-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium  "
                                                        data-widget="button">
                                                        <a href="contacts.html" data-action="page"
                                                            class="moto-widget-button-link moto-size-medium moto-link"><span
                                                                class="fa moto-widget-theme-icon"></span> <span
                                                                class="moto-widget-button-label">Learn
                                                                more</span></a>
                                                    </div>


                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto"
                                    style="" data-widget="row.column" data-container="container" data-spacing="sasa"
                                    data-bg-position="left top">


                                    <div class="moto-widget moto-widget-row moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-grid-type="sm" data-widget="row" data-spacing="laaa"
                                        style="background-image:url(/uploads/2019/04/mt-1802-home-img06.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;"
                                        data-bg-image="2019/04/mt-1802-home-img06.jpg" data-bg-position="center">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                                    style="" data-widget="row.column" data-container="container"
                                                    data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-medium"
                                                        data-widget="text" data-preset="default" data-spacing="smsm"
                                                        data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                                            <h3 class="moto-text_system_8">Other Ways to help
                                                            </h3>
                                                            <p class="moto-text_normal"><span class="moto-color5_5">Even
                                                                    if you aren't
                                                                    eligible to donate, you can still make a
                                                                    difference.</span></p>
                                                        </div>
                                                    </div>



                                                    <div data-widget-id="wid_1555312764_30k06mkhi"
                                                        class="moto-widget moto-widget-button moto-preset-3 moto-preset-provider-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-medium  "
                                                        data-widget="button">
                                                        <a href="support-us.html" data-action="page"
                                                            class="moto-widget-button-link moto-size-medium moto-link"><span
                                                                class="fa moto-widget-theme-icon"></span> <span
                                                                class="moto-widget-button-label">Learn
                                                                more</span></a>
                                                    </div>


                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
{{>homeFooter}}