<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{title}}</title>

</head>

<body>

    <!-- Navbar start here -->
    <nav class="fixed z-6 d-flex justify-content-end hide-lg " id="mobile-nav">
        <button class="menu show-md color-white h-max bg-none" id="mobile-nav-toggler" onclick="toggleMobileNav()">
            <i class="fa fa-bars f-20"></i>
        </button>
        <ul class="mobile-nav hide bg-white" id="mobile-nav-list">
            <li class="bg-main">
                <a class="nav-link color-white fw-4" href="/findDonor">FIND A DONOR</a>
            </li>
            <li class="bg-main">
                <a class="nav-link color-white fw-4" href="/organizeCamp">ORGANIZE A CAMP</a>
            </li>
            <li class="bg-main">
                <a class="nav-link color-white fw-4" href="/joinUs">JOIN US</a>
            </li>
            <li class="bg-white">
                <a href="/about" class="color-dark f-14 fw-4 nav-link">ABOUT US</a>
            </li>
            <li class="bg-white">
                <a href="/contact" class="color-dark f-14 fw-4 nav-link">CONTACT US</a>
            </li>
            <li class="bg-main">
                <a class="nav-link color-white fw-4" href="/login">Login</a>
            </li>
        </ul>
    </nav>
    <nav class="navbar justify-content-center-sm justify-content-between pb-0 sticky-sm z-5  bg-main-dark " id="navbar">
        <div class="d-flex flex-row align-items-center justify-content-end">
            <a class="navbar-brand" href="/">
                <img src="/img/homepage/Logo.png" height="35" alt="BloodConnect Logo">
            </a>
            <ul class="navbar-nav flex-row  align-items-end hide-md" style="border-bottom: none !important;">

                <li class="px-3">
                    <a href="/about" class="color-white b-white f-14 ">ABOUT US</a>
                </li>
                <li class="px-3">
                    <a href="/findDonor" class="color-white b-white f-14 ">FIND A DONOR</a>
                </li>
                <li class="px-3">
                    <a href="/organizeCamp" class="color-white b-white f-14 ">ORGANIZE A CAMP</a>
                </li>
                <li class="px-3">
                    <a href="/joinUs" class="color-white b-white f-14 ">JOIN US</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row align-items-center hide-md">
            <a href="/contact" class="f-14 color-white mr-3 uppercase">Contact Us</a>
            <a href="/Login" class="f-14 sponsor-link-button color-dark fw-6 px-3 py-2 uppercase">Login </a>
        </div>
    </nav>
    <nav class="navbar flex-column-sm align-items-start justify-content-between pb-0 sticky-navbar z-5 bg-white pb-2 hide"
        id="navbar-sticky">
        <div class="d-flex flex-row align-items-center justify-content-end">
            <a class="navbar-brand" href="/">
                <img src="/img/logo.png" height="35" alt="BloodConnect Logo" />
            </a>
            <ul class="navbar-nav flex-row hide-md align-items-end" style="border-bottom: none !important">
                <li class="px-3">
                    <a href="/about" class="color-dark b-dark f-14">ABOUT US</a>
                </li>
                <li class="px-3">
                    <a href="/findDonor" class="color-dark b-dark f-14">FIND A DONOR</a>
                </li>
                <li class="px-3">
                    <a href="/organizeCamp" class="color-dark b-dark f-14">ORGANIZE A CAMP</a>
                </li>
                <li class="px-3">
                    <a href="/joinUs" class="color-dark b-dark f-14">JOIN US</a>
                </li>
            </ul>
        </div>
        <div class="d-flex flex-row align-items-center hide-md">
            <a href="/Login"
                class="f-14 sponsor-link-button color-dark fw-6 px-3 py-2 uppercase bg-main color-white">Login</a>
        </div>
    </nav>
    <!-- Contact form-->
    <div class="container-fluid pd-2 pb-2  mb-4 content  bg-main-dark pt-5-sm">
        <div class="container">

            <div class="row pt-5 mb-3 m-0">
                <div class="col-lg-6 col-sm-12 col-md-12 pt-6">
                    <div class="accordion" id="accordionExample">

                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingSeven">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed d-flex mb-0 justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true"
                                        aria-controls="collapseSeven">
                                        Is BloodConnect a registered organization?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseSeven" class="collapse  bg-white b-0" aria-labelledby="headingSeven"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    Yes, BloodConnect Foundation is a not-for-profit NGO, registered as a charitable
                                    Trust in the office
                                    of Sub-Registrar, Delhi.
                                    <br> We are registered under Section 12A of the Income Tax Act, 1961 and also
                                    granted approval to
                                    receive donations under section 80G section of the Income Tax Act, 1961.

                                </div>
                            </div>
                        </div>
                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingOne">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed d-flex mb-0 justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Is BloodConnect a registered blood bank?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse  bg-white b-0" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    No, BloodConnect is not a blood bank. We do not collect the blood ourselves, or
                                    store it with us. We
                                    work with Government approved blood banks and Colleges/Corporates/RWAs to promote
                                    voluntary blood
                                    donation, and organize blood donation camps.
                                    <br> Think of us as an organization creating awareness about the blood donation, and
                                    connecting new
                                    and regular donors with blood banks to improve availability of the blood in the
                                    country.

                                </div>
                            </div>
                        </div>

                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingTwo">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed mb-0 d-flex justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                        aria-controls="collapseTwo">
                                        Can I reach the BloodConnect office and help out?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseTwo" class="collapse  bg-white b-0" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    As we have no full time employees, our team works from their respective homes /
                                    offices and we conduct
                                    our meetings/activities in the common areas in an office / college. Our corporate,
                                    college partners
                                    help us with these for free and we can do all our team meetings there. Our
                                    registered office is used
                                    to store all of our material and documents. You should reach out via this form, we
                                    can certainly take
                                    forward then.
                                </div>
                            </div>
                        </div>
                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingEight">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed d-flex mb-0 justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseEight" aria-expanded="true"
                                        aria-controls="collapseEight">
                                        How can I help in this noble cause?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseEight" class="collapse  bg-white b-0" aria-labelledby="headingEight"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    You can help in many ways -
                                    <br> 1. Help us Organize a Camp in your College/Society/Company
                                    <br> 2. Sponsor Us that would help us save more lives!
                                    <br> 3. Register as an emergency donor
                                    <br> 4. Join Our team

                                    <br><br> You can easily find links to all these options on our website. In case of
                                    any issues, please
                                    Contact Us.

                                </div>
                            </div>
                        </div>

                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingThree">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed mb-0 d-flex justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">
                                        How many employees does BloodConnect have?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseThree" class="collapse  bg-white b-0" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    Zero. We are completely volunteer driven and have no full time employees
                                </div>
                            </div>
                        </div>

                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingFour">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed mb-0 d-flex justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                        aria-controls="collapseFour">
                                        Where can you find FAQs about blood donation?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseFour" class="collapse  bg-white b-0" aria-labelledby="headingFour"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    You will certainly find some of the FAQs on the page: Join Us→ Register As a Donor.
                                    We have tried to
                                    cover the concerns there. For more, please do check the Resources tab
                                </div>
                            </div>
                        </div>

                        <div class="card bg-white b1-light mb-2">
                            <div class="card-header bg-none" id="headingFive">
                                <h2 class="mb-0 raise-a-request-faq">
                                    <p class="collapsed mb-0 d-flex justify-content-between align-items-center bg-none text-left hand f-16"
                                        data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                                        aria-controls="collapseFive">
                                        Does BloodConnect work on anything else outside blood donation?
                                        <i class="fa fa-angle-right f-30"></i>
                                    </p>
                                </h2>
                            </div>

                            <div id="collapseFive" class="collapse  bg-white b-0" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body color-dark-light bg-white">
                                    Yes, we do work on additional fields related to blood donation: Thalassemia, plasma
                                    requirements, etc.
                                    Our core focus remains blood donation though. We believe that is a big problem to
                                    solve
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12 px-0">
                    <div class="container bg-white  pt-4 pb-4 shadow z-2 rounded pl-5 pr-5 px-3-sm ">
                        <h4 class="ft-24 text-center color-dark mb-0 uppercase">Drop us a message</h4>
                        <p class="color-grey mb-3 text-center f-14">Fill this and we will be in touch with you soon.
                            <br> If you
                            need blood, please register at <a class="color-main f-14" href="/findDonor">FIND
                                A DONOR</a>
                            only
                        </p>
                        <form class="contact-form " action="" onsubmit="createRequest(event)">
                            <div class="form-group mb-4">
                                <label class="m-0  color-dark" for="name">Your Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="form-group mb-4">
                                <label class="m-0  color-dark" for="email">Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email"
                                    required>

                            </div>
                            <div class="form-group mb-4">
                                <label class="m-0  color-dark" for="message">Message</label>
                                <textarea name="message" id="message" cols="20" rows="3"
                                    placeholder="Enter Your Message Here" required></textarea>
                            </div>
                            <button type="submit" id="submit-request-button"
                                class="pl-4 pr-4 fw-6  mb-4 mx-auto btn-main bg-main" value="Submit">
                                <p class="color-white m-0 fw-4">Submit</p>
                                <!-- Animation -->
                                <svg style="width: 50px;" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                    enable-background="new 0 0 0 0" xml:space="preserve">
                                    <path fill="#fff"
                                        d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                                        <animateTransform attributeName="transform" attributeType="XML" type="rotate"
                                            dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite" />
                                    </path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Success modal -->
    <div class="success-modal py-5 shadow bg-white hide" id="success-modal">
        <img width="100" src="./img/popup/mail-sent.jpg" alt="">
        <p class="color-dark fw-6 mt-3">Your messsage is recieved</p>
        <p class="color-grey">You would be redirected in <span id="seconds">3s</span></p>
    </div>

    {{>homeFooter}}