<!-- Navbar -->
{{>homeNavbar}}

<!-- Front slider -->
<div class="container-fluid h-90 pl-0 pr-0 content pt-100-sm relative d-flex flex-row align-items-center">
    <div class="d-flex flex-column container h-80 justify-content-center z-5 px-0-sm">
        <div class="main-slider-text" id="homepageSliderText" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
            <div>
                <h1 class="display-4 color-white wd-auto px-2 mb-1">
                    Days of Gratitude
                </h1>
                <p class="color-white w-50-lg px-2">
                    Your birthday can be someone else's special day as well. Make your birthday memorable by giving
                    someone the
                    “Gift of Life”. <br> Donate blood. Donate for a cause.
                </p>
                <div class="d-flex mt-2 px-2">
                    <button class="shadow btn-main bg-white mr-2">
                        <a href="/about" class="color-dark">Learn More</a>
                    </button>
                    <button class="shadow btn-main bg-main mr-2">
                        <a href="/JoinUs" target="_blank" class="color-white">Join Us</a>
                    </button>

                </div>
            </div>

            <div>
                <h1 class="display-4 color-white wd-max px-2 mb-1">Donate Blood</h1>
                <h1 class="f-40 color-white wd-max px-2">Save Lives</h1>
                <p class="color-white w-50-lg px-2">
                    Blood Bucket is India’s largest youth run initiative in the field
                    of blood donation. We target to make India blood sufficient in the
                    coming 10 years.
                </p>
                <div class="d-flex mt-2 px-2">
                    <button class="shadow btn-main bg-main mr-2">
                        <a href="/joinUs" class="color-white">Help us achieve it</a>
                    </button>
                </div>
            </div>


        </div>
    </div>

    <div class="main-slider" id="homepageSlider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
        <!-- Gradinet here -->


        <div class="homepage-slider" style="
            background: url('./img/campaign1.jpeg');
            background-size: cover;
          "></div>
        <div class="homepage-slider" style="
            background: url('./img/homepage/duetone/1.jpg');
            background-size: cover;
          "></div>
        <div class="homepage-slider" style="
            background: url('./img/homepage/duetone/2.jpg');
            background-size: cover;
          "></div>
        <div class="homepage-slider" style="
            background: url('./img/homepage/duetone/3.jpg');
            background-size: cover;
          "></div>
    </div>
</div>

<div class="container-fluid bg-main-light pt-5">
    <!-- Our Story in brief -->
    <div class="container d-flex align-items-center justify-content-end img-left pb-5 mt-5 bg-main-light">
        <div class="row pt-5-sm">
            <div class="col-lg-5 col-md-4 col-sm-12 d-flex flex-column align-items-center">
                <!-- <iframe class="wd-inherit hide" id="youtubeVideo" height="315" src="https://www.youtube.com/embed/zYVxjIPVCZQ?autoplay=1"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <div class="chart" data-percent="73">2 Million</div>
                <ul style="list-style-type: none">
                    <li class="white-before d-flex align-items-center mr-2" style="float: left">
                        2 Million
                    </li>
                    <li class="red-before d-flex align-items-center mr-2" style="float: left">
                        13 Million
                    </li>
                </ul>
            </div>

            <div class="d-flex flex-column justify-content-center tagling col-lg-7 col-sm-12">
                <h1 class="color-dark f-30 mb-0">
                    India has a shortage of
                    <span class="f-30 color-main-dark">2 Million Blood Units</span>
                </h1>
                <p class="color-dark-light mt-1">
                    There is a requirement of 15 million units of blood annually.
                    However, we are only able to collect 13 million units. We just
                    need
                    <span class="color-main fw-6">2% of India’s youth to donate regularly</span>
                    to address the complete demand.
                </p>
                <button class="shadow btn-main bg-main mx-auto-sm">
                    <a href="/about" class="color-white">Know More</a>
                </button>
            </div>
        </div>
    </div>

    <!-- Our work in brief -->
    <div class="container px-0">
        <div class="row m-0 pt-5 justify-content-center bg-main-light py-5">
            <h1 class="color-dark fw-4 f-30 mb-0 text-left col-lg-10 pt-5">
                We, the youth, can make India

                <span class="color-main-dark f-30 col-lg-12 pl-0">Blood Sufficient
                </span>
            </h1>
            <p class="color-dark-light col-lg-10 col-sm-12 mx-auto mb-5">
                BloodConnect is India’s largest youth-led organization that works
                with colleges, corporates, and RWAs to help the blood banks be blood
                sufficient. We provide a 360° solution to the problem: from
                motivating people to donate blood, to helping them donate via camps
                and finally helping anyone in dire need via a helpline.
            </p>
            <div class="work-card text-center bg-white shadow pt-4 px-4 pb-5 col-lg-3 col-md-6 col-sm-10 mx-4 mb-5">
                <h5 class="color-dark mt-2 f-18 text-center">
                    Blood Donation Camps
                </h5>
                <p class="color-dark-light mx-auto mt-1 pr-1">
                    We collaborate with colleges, corporates, RWAs to organize
                    innovative and engaging blood donation camps end to end.
                </p>
                <button class="btn-main bg-main mx-auto">
                    <a class="card-link color-white" href="/JoinUs">Organize a Camp</a>
                </button>
            </div>
            <div class="work-card text-center bg-white shadow pt-4 px-4 pb-5 col-lg-3 col-md-6 col-sm-10 mx-4 mb-5">
                <h5 class="color-dark mt-2 f-18 text-center">Handling Helpline</h5>
                <p class="color-dark-light mx-auto mt-1 pr-1">
                    Through helpline requests, we help address immediate blood
                    requirements by patients.
                </p>
                <br />
                <button class="btn-main bg-main mx-auto">
                    <a class="card-link color-white" href="/JoinUs">FIND A DONOR</a>
                </button>
            </div>
            <div class="work-card text-center bg-white shadow pt-4 px-4 pb-5 col-lg-3 col-md-6 col-sm-10 mx-4 mb-5">
                <h5 class="color-dark mt-2 f-18 text-center">Awareness Session</h5>
                <p class="color-dark-light mx-auto mt-1 pr-1">
                    Street plays, competitions, and sessions - targeted at inspiring
                    people, especially the first timers, to come out and donate blood.
                </p>
                <button class="btn-main bg-main mx-auto">
                    <a class="card-link color-white" href="/about">Learn More</a>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Impact Section -->
<div class="container-fluid h-60-min d-flex align-items-center justify-content-center py-5" style="
        background: url('./img/homepage/impact.jpg');
        background-size: cover;
        background-position: bottom;
      ">
    <div class="container">
        <div class="mx-auto">
            <h2 class="f-40 fw-6 text-center color-white mb-0">Our Impact</h2>
        </div>
        <div class="row bg-none py-5">
            <div class="col-lg-4 pt-3 pb-3 text-center d-flex align-items-center justify-content-center flex-column">
                <p class="bold f-30 color-white mb-0 mt-n-1 count" id="units">
                    104,532+
                </p>
                <p class="color-white fw-4 f-18">Blood units collected</p>
            </div>
            <div class="col-lg-4 pt-3 pb-3 text-center d-flex align-items-center justify-content-center flex-column">
                <p class="bold f-40 color-white mb-0 mt-n-1 count" id="livesSaved">
                    314,668+
                </p>
                <p class="color-white fw-6 f-30">Lives Saved</p>
            </div>
            <div class="col-lg-4 pt-3 pb-3 text-center d-flex align-items-center justify-content-center flex-column">
                <p class="bold f-30 color-white mb-0 mt-n-1 count" id="camps">
                    1,049
                </p>
                <p class="color-white fw-4 f-18">Camps organized across India</p>
            </div>
        </div>
    </div>
</div>

<!-- testimonials -->
<div class="container mt-5 mb-5">
    <h4 class="color-dark fw-4 f-40 mb-0 text-center">What People Say</h4>
    <!-- testimonial Carousel -->
    <div class="testimonial-slider" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
        <div>
            <div class="w-75-lg mx-auto h-55-lg d-flex flex-column justify-content-between pt-5 pr-0 pb-2">
                <p class="mb-4 color-dark-light text-center f-16">
                    We needed blood immediately in Nepal and were trying our hands
                    everywhere. BloodConnect, though not present in Nepal, amazingly
                    helped us. They arranged for a donor to travel across borders from
                    their Kolkata chapter to donate blood. That was totally
                    unexpected- by far the most amazing thing ever done. Forever
                    grateful!
                </p>
                <div class="d-flex flex-column align-items-center">
                    <p class="f-20 color-main-dark mb-0" style="margin-bottom: -10px">
                        Neha
                    </p>
                    <p class="color-dark-light f-14" style="margin-bottom: -5px">
                        Helpline requester
                    </p>
                    <img class=" " src="./img/favicon.png" width="50" alt="" />
                </div>
            </div>
        </div>

        <div>
            <div class="w-75-lg mx-auto h-55-lg d-flex flex-column justify-content-between pt-5 pr-0 pb-2">
                <p class="mb-4 color-dark-light text-center f-16">
                    I had read about the blood shortage during the Covid19 phase but
                    never really thought much about it. BloodConnect reached out to me
                    to organize a blood donation camp in Delhi during the lockdown.
                    Getting to know about the shortage for thalassemia patients was an
                    eye opener. We worked with them to organize a successful camp.
                    When traditional networks of donation were broken (colleges),
                    BloodConnect stepped up. Great work!
                </p>
                <div class="d-flex flex-column align-items-center">
                    <p class="f-20 color-main-dark mb-0 text-center-sm" style="margin-bottom: -10px">
                        Hitanshu
                    </p>
                    <p class="color-dark-light f-14" style="margin-bottom: -5px">
                        Camp organizer
                    </p>
                    <img class=" " src="./img/favicon.png" width="50" alt="" />
                </div>
            </div>
        </div>

        <div>
            <div class="w-75-lg mx-auto h-55-lg d-flex flex-column justify-content-between pt-5 pr-0 pb-2">
                <p class="mb-4 color-dark-light text-center f-16">
                    Earlier, as the Vice president of Youth Red Cross, Vellore
                    Institute of Technology, Vellore, I helped patients in Christian
                    Medical College, Vellore by convincing friends in my college only
                    for blood and platelet donation. However, at BloodConnect I am
                    able to build team, manage helpline request and organize camp in
                    any part of the country. It is the best platform for anyone who
                    would like to learn, lead and create large social impact across
                    the country.
                </p>
                <div class="d-flex flex-column align-items-center">
                    <p class="f-20 color-main-dark mb-0 text-center-sm" style="margin-bottom: -10px">
                        Aachran
                    </p>
                    <p class="color-dark-light f-14" style="margin-bottom: -5px">
                        Volunteer
                    </p>
                    <img src="./img/favicon.png" width="50" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sponsor banner -->
<div class="m-0 px-2 pt-5 pb-5 h-100-min container-fluid bg-main-light">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h4 class="f-40 color-dark text-left pt-5">
                    Help us make India Blood Sufficient
                </h4>
                <p class="color-dark-light text-left">
                    We started in IIT Delhi in 2010 and have now grown on to 10
                    cities. With your support we hope to further expand and help out
                    blood banks across the country and make them blood sufficient.
                    With you helping, we can:
                </p>
                <div class="d-flex flex-column">
                    <div class="row">
                        <div class="col-lg-6 col-12 d-flex flex-row">
                            <div class="mr-2">
                                <img class=" " width="20px" src="./svg/tick.svg" alt="" />
                            </div>
                            <p class="color-dark-light">
                                Arrange a donor for someone in need
                            </p>
                        </div>

                        <div class="col-lg-6 col-12 d-flex flex-row">
                            <div class="mr-2">
                                <img class=" " width="20px" src="./svg/tick.svg" alt="" />
                            </div>
                            <p class="color-dark-light">
                                Ensure regular blood for thalassemia patients
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12 d-flex flex-row">
                            <div class="mr-2">
                                <img class=" " width="20px" src="./svg/tick.svg" alt="" />
                            </div>
                            <p class="color-dark-light">
                                Keep blood bank stocked for high blood loss emergencies
                            </p>
                        </div>

                        <div class="col-lg-6 col-12 d-flex flex-row">
                            <div class="mr-2">
                                <img class=" " width="20px" src="./svg/tick.svg" alt="" />
                            </div>
                            <p class="color-dark-light">
                                Motivate youth to come forward and donate blood
                            </p>
                        </div>
                    </div>
                </div>

                <button class="shadow btn-main bg-white mt-3 mb-5">
                    <a class="color-main fw-6" href="/joinUs">Sponsor Us</a>
                </button>
            </div>
            <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                <div class="hide d-flex justify-content-center align-items-center" id="youtubeVideoDiv">
                    <div class="iframeContainer d-flex flex-column">
                        <button class="iframeClose" onclick="closeVideo()">
                            <i class="f-18 fa fa-times"></i>
                        </button>

                        <iframe id="youtubeFrame" width="560" height="315" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <img class="wd-inherit" src="/img/homepage/video.jpg" id="video-img" style="height: 400px"
                    class="wd-inherit" alt="" />
                <button class="play bg-none" id="play" onclick="playVideo()">
                    <i class="color-white fa fa-play"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Media Partners -->
<div class="container pt-5 mb-5">
    <div class="media-slider" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
        <div class="d-flex align-items-center justify-content-center partner">
            <img class="mx-auto media-slider-img" src="/img/homepage/media-partners/logo.jpg" alt="ggits jabalpur" />
        </div>
        <div class="d-flex align-items-center justify-content-center partner">
            <img class="mx-auto media-slider-img" src="/img/homepage/media-partners/logo.jpg" alt="ggits jabalpur" />
        </div>
        <div class="d-flex align-items-center justify-content-center partner">
            <img class="mx-auto media-slider-img" src="/img/homepage/media-partners/logo.jpg" alt="ggits jabalpur" />
        </div>
        <div class="d-flex align-items-center justify-content-center partner">
            <img class="mx-auto media-slider-img" src="/img/homepage/media-partners/logo.jpg" alt="ggits jabalpur" />
        </div>
        <div class="d-flex align-items-center justify-content-center partner">
            <img class="mx-auto media-slider-img" src="/img/homepage/media-partners/logo.jpg" alt="ggits jabalpur" />
        </div>
    </div>
</div>
<!-- Footer -->
{{>homeFooter}}