<!DOCTYPE html>
<html>

<head>
    <title>Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <main class="main">
        <div class="wrapper">
            <div class="card">
                <div class="title">
                    <h1 class="title title-large">Sign In</h1>
                    <p class="title title-subs">New user? <span><a href="/register" class="linktext">Create an
                                account</a></span></p>
                </div>
                <form class="form">
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a href="/forgotPassword" class="linktext">Forgot Password</a>
                        <input type="button" name="submit" class="input-submit" value="Login">
                    </div>
                </form>
                <div class="line">
                    <span class="line-bar"></span>
                    <span class="line-text">Or</span>
                    <span class="line-bar"></span>
                </div>
                <div class="method">
                    <div class="method-item">
                        <a href="#" class="btn-action">
                            <i class="icons icons-google fab fa-google"></i>
                            <span>Sign in with Google</span>
                        </a>
                    </div>
                    <div class="method-item">
                        <a href="#" class="btn-action">
                            <i class="icons icons-facebook fab fa-facebook"></i>
                            <span>Sign in with Facebook</span>
                        </a>
                    </div>
                    <div class="method-item">
                        <a href="#" class="btn-action">
                            <i class="icons icons-apple fab fa-apple"></i>
                            <span>Sign in with Apple</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>