{{>homeNavbar}}
<section id="section-content" class="content page-23 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto moto-bg-color_custom4"
        data-widget="block" data-spacing="lala"
        style="background-image:url(uploads/2019/04/mt-1802-content-bg05.jpg);background-position:top;background-repeat:no-repeat;background-size:cover;"
        data-bg-image="2019/04/mt-1802-content-bg05.jpg" data-bg-position="top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-justify-content_center"
                        data-grid-type="sm" data-widget="row" data-spacing="aaaa" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    data-widget="row.column" data-container="container" data-spacing="aaaa"
                                    data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <h1 class="moto-text_system_5">Privacy policy</h1>
                                        </div>
                                    </div>


                                </div>



                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto"
        data-widget="block" data-spacing="lala" data-bg-position="left top" data-draggable-disabled="">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">

                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                        data-grid-type="sm" data-widget="row" data-spacing="aaaa" data-bg-position="left top"
                        data-draggable-disabled="">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    data-widget="row.column" data-container="container" data-spacing="aaaa"
                                    data-bg-position="left top">


                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto"
                                        data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_system_9">General information</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal">Welcome to our Privacy Policy page! When
                                                you use our web site services, you entrust your information to
                                                us. This Privacy Policy is meant to help you understand what
                                                data we collect, why we collect it, and what we do with it. When
                                                you share information with us, we can make our services even
                                                better for you. For instance, we can show you more relevant
                                                search results and ads, help you connect with people or make
                                                sharing with others quicker and easier. As you use our services,
                                                we want you to be clear how we’re using information and the ways
                                                in which you can protect your privacy. This is important; we
                                                hope you will take time to read it carefully. Remember, you can
                                                find controls to manage your information and protect your
                                                privacy and security. We’ve tried to keep it as simple as
                                                possible.</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_system_9">Management of personal data</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal">You can view or edit your personal data
                                                online for many of our services. You can also make choices about
                                                our collection and use of your data. How you can access or
                                                control your personal data will depend on which services you
                                                use. You can choose whether you wish to receive promotional
                                                communications from our web site by email, SMS, mail, and
                                                telephone. If you receive promotional email or SMS messages from
                                                us and would like to opt out, you can do so by following the
                                                directions in that message. You can also make choices about the
                                                receipt of promotional email, telephone calls, and postal mail
                                                by visiting and signing into Company Promotional Communications
                                                Manager, which allows you to update contact information, manage
                                                contact preferences, opt out of email subscriptions, and choose
                                                whether to share your contact information with our partners.
                                                These choices do not apply to mandatory service communications
                                                that are part of certain web site services.</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_system_9">How we use your information</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal">Our web site uses the data we collect
                                                for three basic purposes: to operate our business and provide
                                                (including improving and personalizing) the services we offer,
                                                to send communications, including promotional communications,
                                                and to display advertising. In carrying out these purposes, we
                                                combine data we collect through the various web site services
                                                you use to give you a more seamless, consistent and personalized
                                                experience. However, to enhance privacy, we have built-in
                                                technological and procedural safeguards designed to prevent
                                                certain data combinations. For example, we store data we collect
                                                from you when you are unauthenticated (not signed in) separately
                                                from any account information that directly identifies you, such
                                                as your name, email address or phone number.&nbsp;</p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal"><a data-action="mail" class="moto-link"
                                                    href="mailto:Info@demolink.org"><span
                                                        class="moto-color1_3">Info@demolink.org</span></a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                    data-widget="row.column" data-container="container" data-spacing="aaaa"
                                    data-bg-position="left top">


                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto"
                                        data-widget="text" data-preset="default" data-spacing="aaaa" data-animation=""
                                        data-draggable-disabled="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">
                                            <p class="moto-text_system_9">Right to access, correct and delete
                                                data and to object to data processing</p>
                                            <p class="moto-text_normal"><br></p>
                                            <p class="moto-text_normal">Our customers have the right to access,
                                                correct and delete personal data related with them, and to
                                                object to the processing of such data, by addressing a written
                                                request, at any time. The Company makes every effort to put in
                                                place suitable precautions to safeguard the security and privacy
                                                of personal data, and to prevent it from being altered,
                                                corrupted, destroyed or accessed by unauthorized third parties.
                                                However, the Company does not control each and every risk
                                                related to the use of the Internet, and therefore warns the Site
                                                users of the potential risks involved in the functioning and use
                                                of the Internet. The Site may include links to other web sites
                                                or other internet sources. As the Company cannot control these
                                                web sites and external sources, the Company cannot be held
                                                responsible for the provision or display of these web sites and
                                                external sources, and may not be held liable for the content,
                                                advertising, products, services or any other material available
                                                on or from these web sites or external sources.</p>
                                            <p class="moto-text_normal"><br></p>
                                            <p class="moto-text_normal"><br></p>
                                            <p class="moto-text_system_9">Information we collect</p>
                                            <p class="moto-text_normal"><br></p>
                                            <p class="moto-text_normal">Our store collects data to operate
                                                effectively and provide you with the best experience with our
                                                services. You provide some of this data directly, such as when
                                                you create a personal account. We get some of it by recording
                                                how you interact with our services by, for example, using
                                                technologies like cookies, and receiving error reports or usage
                                                data from software running on your device. We also obtain data
                                                from third parties (including other companies). For example, we
                                                supplement the data we collect by purchasing demographic data
                                                from other companies. We also use services from other companies
                                                to help us determine a location based on your IP address in
                                                order to customize certain services to your location. The data
                                                we collect depends on the services and features you use.</p>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

{{>homeFooter}}