<!DOCTYPE html>
<html>

<head>
    <title> Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    <main class="main">
        <div class="wrapper">
            <div class="card">
                <div class="title">
                    <h1 class="title title-large">Sign Up</h1>
                    <p class="title title-subs">Login <span><a href="/login" class="linktext">Already have an
                                account
                                ?</a></span></p>
                </div>
                <form class="form">
                    <div class="form-group">
                        <input type="text" name="name" id="email" class="input-field" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" class="input-field" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="Text" name="group" id="email" class="input-field" placeholder="Blood Group">
                    </div>
                    <div class="form-group">
                        <input type="Text" name="address" id="email" class="input-field" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <input type="phone" name="Aadhar" id="password" class="input-field" placeholder="Aadhar number">
                    </div>
                    <div class="form-group">
                        <input type="Text" name="phone" id="email" class="input-field" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="button" name="submit" class="input-submit" value="Login">
                    </div>
                </form>
                <div class="line">
                    <span class="line-bar"></span>
                    <span class="line-bar"></span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>